@import "../../../styles.scss";
.bouton{
  background-color: map-get($couleurs, noir);
  color: white;
  padding: 5px;
  margin: 10px;
  display: inline-block;
  border: 1px solid map-get($couleurs, noir);
  cursor: pointer;

  &:hover{
    color: map-get($couleurs, noir);
    background-color: white;
  }
}


