<div class="carte">
    <div class="titre">
        <img class="icone--grand" src="/assets/images/{{getIcone(type)}}" alt="getType(type)">
        <div class="titre__nom texte--grand">
            {{ nom }}
            <p class="titre__nom--details texte--petit">
                {{ getType(type) }} - {{ concentration }}
            </p>
        </div>
    </div>
    <div class="carte__description">
        <h4>Description</h4>
        <p>{{ description }}</p>
    </div>
    <div class="carte__informations">
        <div class="info-avec-icone">
            <img class="icone--normal" src="/assets/images/quantite.svg" alt="quantité">
            {{ quantite }}
        </div>
        <div class="info-avec-icone">
            <img class="icone--normal" src="/assets/images/prix.svg" alt="prix">
            {{ prix }}
        </div>
    </div>
</div>