@import "../../../styles.scss";

.carte {
    margin: map-get($relations, ami-proche);
    padding: map-get($relations, ami-proche);
    background-color: map-get($couleurs, noir);
    color: white;
    width: 320px;

    .titre {
        display: flex;
        align-items: center;
        gap: map-get($relations, meilleur-ami);

        &__nom {

            &--details {
                font-family: 'Inria serif';
                margin: 0px;
            }
        }
    }

    &__description {
        border-bottom: solid 1px white;

        h4, p {
            margin-bottom: map-get($relations, ami-proche);
        }

        p {
            font-family: 'Inria serif';
        }
    }

    &__informations {
        display: flex;
        gap: map-get($relations, ami);
        margin-top: map-get($relations, ami-proche);


        .info-avec-icone {
            display: flex;
            align-items: center;
            gap: map-get($relations, meilleur-ami);
        }
    }
}