<div class="container">
    <div class="boite">
        <div class="boite__gauche">
        <img class="logo--grand" src="/assets/images/logo.svg" alt="logo">
        <p class="logo__nom">E-Pharma</p>
        <p class="logo__slogan">In pharma we trusth.</p>
        </div>

        <div class="boite__connexion">
        <h1>Connexion</h1>
        <input type="text" placeholder="Courriel">
        <input type="password" placeholder="Mot de passe">
        <a href="/" class="mot-de-passe-oublie">Mot de passe oublié</a>
        <div class="bouton">Connexion</div>
        </div>
    </div>
</div>
