@import "../../../styles.scss";

.container {
  margin-top: map-get($relations, etranger);
  display:flex;
  justify-content: center;
  align-items: center;

  .boite {
    border: 1px solid grey;
    height: 400px;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &__gauche {
      width: 50%;
      background-color: map-get($couleurs, noir);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__connexion{
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      input {
        height: 2em;
        width: 60%;
        margin-top: map-get($relations, ami-proche);
      }

      .mot-de-passe-oublie {
        text-decoration: none;
        color: grey;
        font-size: 0.7em;
        text-align: right;
        width: 60%;
        font-style: italic;
        margin-top: map-get($relations, amoureux);
      }

      .bouton {
        cursor: pointer;
        width: 40%;
        padding: 12px 12px;
        background-color: map-get($couleurs, noir);
        text-align: center;
        color: white;
        margin-top: map-get($relations, ami);
        transition: background-color 100ms linear;

        &:hover {
          background-color: #474747;
        }
      }
    }
  }
}