@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif:lightitalic,light&display=swap');

body {
  font-family: 'arial', sans-serif;
  margin: 0;
  padding: 0;
}

$couleurs: (
    "noir": #2F2F2F
);

$relations: (
  "amoureux": 4px, 
  "meilleur-ami": 8px,
  "ami-proche": 16px,
  "ami-proche-ish": 22px,
  "ami": 32px,
  "connaissance": 64px,
  "connaissance-eloignee": 72px,
  "etranger": 128px
);

.logo {
  &__nom {
    font-family: 'Jura';
    font-size: 32px;
    color: white;
    margin: 0;
  }

  &__slogan {
    font-family: 'Inria serif';
    font-style: italic;
    color: white;
    margin-top: map-get($relations, ami-proche);
  }

  &--petit {
    width: 40px;
  }

  &--grand {
    width: 70px;
  }
}

.icone {
  &--petit {
    width: 22px;
  }
  
  &--normal {
    width: 32px;
  }

  &--grand {
    width: 36px;
  }
}

.texte {
  &--petit {
    font-size: 0.875rem;
    line-height: 1rem;
  }


  &--grand {
    font-size: 1.125rem;
    line-height: 1.2rem;
  }
}
