<nav class="navigation">
    <div class="navigation__logo">
        <p class="logo__nom">E-Pharma</p>
        <img class="logo--petit" src="/assets/images/logo.svg" alt="logo">
    </div>
    <div class="navigation__onglets">
        <a class="navigation__onglet--icone" (click)="goToPath('/')">
            <img class="icone--normal" src="/assets/images/home.svg" alt="logo">
        </a>
        <a class="navigation__onglet" (click)="goToPath('/administration')">
            Administration
        </a>
        <a class="navigation__onglet" (click)="goToPath('/connexion')">
            Connexion
            <img class="icone--petit" src="/assets/images/connexion.svg" alt="logo">
        </a>
        <div class="navigation__usager">
            <p>{{ usager }}</p>
            <img class="icone--petit" src="/assets/images/account.svg" alt="logo">
        </div>
    </div>
</nav>