@import "../../../styles.scss";

.navigation {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: map-get($couleurs, noir);
    justify-content: space-between;
    align-items: center;

    &__logo {
        margin-left: map-get($relations, ami);
        display: flex;
    }

    &__onglets {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__onglet {
        cursor: pointer;
        background-color: #D9D9D915;
        height: 100%;
        display: flex;
        align-items: center;
        
        &--icone {
            cursor: pointer;
            background-color: none;
            margin: 0 map-get($relations, meilleur-ami);
        }
    }
    
    &__usager, &__onglet {
        color: white;
        display: flex;
        padding: 0 map-get($relations, ami-proche);
        margin: 0 map-get($relations, meilleur-ami);
    }

    &__usager, &__logo, &__onglet {
        gap: map-get($relations, meilleur-ami);
    }
}